<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Code Reviewer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>


<body class="bg-light">


<nav class="navbar navbar-dark bg-primary">

    <div class="container">

        <span class="navbar-brand fs-4">
            🤖 AI Code Reviewer
        </span>

        <div>

    <a href="/login"
       class="btn btn-light me-2">

        Login

    </a>


    <a href="/register"
       class="btn btn-warning">

        Register

    </a>
</div>


        <!-- <div>

            <a href="{{ url_for('auth.login') }}"
               class="btn btn-light me-2">

                Login

            </a>


            <a href="{{ url_for('auth.register') }}"
               class="btn btn-warning">

                Register

            </a>

        </div>

    </div> -->

</nav>



<div class="container mt-5">


    <div class="row align-items-center">


        <div class="col-md-6">


            <h1 class="display-4 fw-bold">

                AI Powered Code Review Platform

            </h1>


            <p class="lead mt-3">

                Analyze your source code using Artificial Intelligence.
                Detect bugs, improve quality, and get smart suggestions
                instantly.

            </p>


            <a href="{{ url_for('auth.register') }}"
               class="btn btn-primary btn-lg mt-3">

                Get Started

            </a>


        </div>



        <div class="col-md-6">


            <div class="card shadow p-4">


                <h3 class="text-center mb-4">

                    Features

                </h3>


                <ul class="list-group">


                    <li class="list-group-item">
                        ✅ AI Code Analysis
                    </li>


                    <li class="list-group-item">
                        ✅ Bug Detection
                    </li>


                    <li class="list-group-item">
                        ✅ Code Quality Score
                    </li>


                    <li class="list-group-item">
                        ✅ Programming Language Detection
                    </li>


                    <li class="list-group-item">
                        ✅ PDF Review Reports
                    </li>


                    <li class="list-group-item">
                        ✅ Review History
                    </li>


                </ul>


            </div>


        </div>


    </div>


</div>



<footer class="text-center mt-5">

    <p>
        AI Code Reviewer © 2026
    </p>

</footer>


</body>

</html>