{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="hero">

<h1 class="display-4 fw-bold">

AI Code Reviewer Pro

</h1>

<p class="lead">

Analyze your code using Artificial Intelligence

</p>

<a href="/register"
class="btn btn-primary btn-lg">

Get Started

</a>

</div>

<div class="row mt-5">

<div class="col-md-4">

<div class="card feature-card p-4">

<h3>AI Review</h3>

<p>

Find bugs and improve code quality.

</p>

</div>

</div>

<div class="col-md-4">

<div class="card feature-card p-4">

<h3>Security</h3>

<p>

Detect security vulnerabilities.

</p>

</div>

</div>

<div class="col-md-4">

<div class="card feature-card p-4">

<h3>Optimization</h3>

<p>

Receive optimization suggestions.

</p>

</div>

</div>

</div>

{% endblock %}