{% extends "base.html" %}

{% block title %}
Register
{% endblock %}


{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow">

<div class="card-body">


<h2 class="text-center mb-4">
Create Account
</h2>


<form method="POST" action="{{ url_for('auth.register') }}">


<div class="mb-3">

<label>Full Name</label>

<input
type="text"
name="fullname"
class="form-control"
placeholder="Enter Full Name"
required>

</div>


<div class="mb-3">

<label>Username</label>

<input
type="text"
name="username"
class="form-control"
placeholder="Enter Username"
required>

</div>


<div class="mb-3">

<label>Email</label>

<input
type="email"
name="email"
class="form-control"
placeholder="Enter Email"
required>

</div>


<div class="mb-3">

<label>Password</label>

<input
type="password"
name="password"
class="form-control"
placeholder="Create Password"
required>

</div>


<button
type="submit"
class="btn btn-success w-100">

Register

</button>


</form>


</div>

</div>

</div>

</div>


{% endblock %}